In [1]:
import itertools
from collections import Counter
import datetime
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [6]:
def clean_json(d):
    """
    clean the json data, make the data easier to be processed
    """
    assert len(d['cities']) == 1
    d['cities'] = d['cities'][0]

    assert len(d['session_id']) == 1
    d['session_id'] = d['session_id'][0]

    assert len(d['unix_timestamp']) == 1
    d['timestamp'] = datetime.datetime.utcfromtimestamp(d['unix_timestamp'][0])
    del d['unix_timestamp']

    # -------- retrieve users
    user_dict = d['user']

    assert len(user_dict) == 1
    user_dict = user_dict[0]

    assert len(user_dict) == 1
    user_dict = user_dict[0]

    d['user_id'] = user_dict['user_id']
    d['user_country'] = user_dict['country']

    del d['user']
    return d

In [7]:
with open("city_search.json",'rt') as inf:
    sessions = json.load(inf)
    
for d in sessions:
    clean_json(d)

sessions = pd.DataFrame(sessions)
sessions = sessions.set_index('session_id')

In [8]:
sessions.head()

,cities,timestamp,user_country,user_id
session_id,,,,
X061RFWB06K9V,"New York NY, Newark NJ",2015-09-17 15:28:28,UK,2024
5AZ2X2A9BHH5U,"New York NY, Jersey City NJ, Philadelphia PA",2015-09-04 08:06:31,DE,2853
SHTB4IYAX4PX6,San Antonio TX,2015-08-29 10:18:10,UK,10958
JBRB8MZGTX3M4,Edmonton AB,2015-03-25 07:21:03,IT,7693
YJCMPURC2FL9C,"Phoenix AZ, Houston TX",2015-05-02 09:31:07,UK,7506