In [1]:
import json


import numpy as np
import pandas as pd

In [9]:
# Load data

def load_data():
    with open("song.json", "rt") as info:
        data = json.load(info)
        
    data = pd.DataFrame(data)
    data.set_index("id", inplace=True)
    data["time_played"] = pd.to_datetime(data["time_played"])
    data["user_sign_up_date"] = pd.to_datetime(data["user_sign_up_date"])
    return data

df = load_data()
df.head()

,song_played,time_played,user_id,user_sign_up_date,user_state
id,,,,,
GOQMMKSQQH,Hey Jude,2015-06-11 21:51:35,122,2015-05-16,Louisiana
HWKKBQKNWI,We Can Work It Out,2015-06-06 16:49:19,3,2015-05-01,Ohio
DKQSXVNJDH,Back In the U.S.S.R.,2015-06-14 02:11:29,35,2015-05-04,New Jersey
HLHRIDQTUW,P.s. I Love You,2015-06-08 12:26:10,126,2015-05-16,Illinois
SUKJCSBCYW,Sgt. Pepper's Lonely Hearts Club Band,2015-06-28 14:57:00,6,2015-05-01,New Jersey

In [3]:
# Let's get more info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4000 entries, GOQMMKSQQH to LXJTCLWRUV
Data columns (total 5 columns):
song_played          4000 non-null object
time_played          4000 non-null datetime64[ns]
user_id              4000 non-null int64
user_sign_up_date    4000 non-null datetime64[ns]
user_state           4000 non-null object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 187.5+ KB

In [4]:
df.describe()

           user_id
count  4000.000000
mean    101.574000
std      58.766835
min       1.000000
25%      48.000000
50%     102.000000
75%     155.000000
max     200.000000

In [12]:
len(df["user_id"].unique())

196

In [31]:
grouped_users = df.groupby("user_id")