In [2]:
import itertools
from collections import defaultdict
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
import seaborn as sns

In [81]:

cc = pd.read_csv('cc_info.csv',index_col='credit_card')
transactions = pd.read_csv('transactions.csv')
transactions['date'] = pd.to_datetime(transactions.date)

Your boss wants to identify those users that in your dataset never went above the monthly credit card limit (calendar month). The goal of this is to automatically increase their limit. Can you send him the list of Ids?

In [4]:
transactions.date.dt.year.value_counts()

2015    294588
Name: date, dtype: int64

In [7]:
def monthly_spent_byuser(df):

    return df.groupby(df.date.dt.month)['transaction_dollar_amount'].agg('sum')

In [8]:
card_month_spents = transactions.groupby("credit_card").apply(monthly_spent_byuser).unstack(fill_value=0)

In [9]:
card_month_spents = card_month_spents.join(cc.credit_card_limit)
card_month_spents.head()

                       7         8         9        10  credit_card_limit
credit_card
1003715054175576  162.56   8441.51  11281.56   8954.21              20000
1013870087888817  281.43  11981.15  12461.96  12090.34              15000
1023820165155391  943.26  22741.20  18108.12  19259.98              28000
1073931538936472  220.07   2991.05   2557.12   1638.03              10000
1077622576192810    0.00    634.61    551.28    604.84              10000

In [15]:
card_month_spents.columns = card_month_spents.columns.astype(str)

In [16]:
card_month_spents.columns

Index([u'7', u'8', u'9', u'10', u'credit_card_limit'], dtype='object')

In [17]:
def never_above_limit(row):
    if row['7']<=row['credit_card_limit'] and row['8']<=row['credit_card_limit'] and row['9']<=row['credit_card_limit']\
    and row['10']<=row['credit_card_limit']:
        return "never above limit"
    else:
        return "above limit at least once"

In [18]:
card_month_spents['never_above_limit'] = card_month_spents.apply(never_above_limit, axis = 1)

In [19]:
card_month_spents.head()

,7,8,9,10,credit_card_limit,never_above_limit
credit_card,,,,,,
1003715054175576,162.56,8441.51,11281.56,8954.21,20000,never above limit
1013870087888817,281.43,11981.15,12461.96,12090.34,15000,never above limit
1023820165155391,943.26,22741.20,18108.12,19259.98,28000,never above limit
1073931538936472,220.07,2991.05,2557.12,1638.03,10000,never above limit
1077622576192810,0.00,634.61,551.28,604.84,10000,never above limit

In [21]:
never_above_limit = card_month_spents[card_month_spents['never_above_limit'] == 'never above limit']

In [23]:
never_above_limit.to_csv('never_above_limit.csv')

In [24]:
transactions.head()

,credit_card,date,transaction_dollar_amount,Long,Lat
0,1003715054175576,2015-09-11 00:32:40,43.78,-80.174132,40.267370
1,1003715054175576,2015-10-24 22:23:08,103.15,-80.194240,40.180114
2,1003715054175576,2015-10-26 18:19:36,48.55,-80.211033,40.313004
3,1003715054175576,2015-10-22 19:41:10,136.18,-80.174138,40.290895
4,1003715054175576,2015-10-26 20:08:22,71.82,-80.238720,40.166719

she wants you to implement an algorithm that as soon as a user goes above her monthly limit, it triggers an alert so that the user can be notiﬁed about that.We assume here that at the beginning of the new month, user total money spent gets reset to zero (i.e. she pays the card fully at the end of each month). Build a function that for each day, returns a list of users who went above their credit card monthly limit on that day.

In [115]:
def above_limit(row,check_month):
    if row[check_month] > row['credit_card_limit']:
        return 1
    else:
        return 0

In [118]:
import datetime
def check_limit(check_date, df):
    check_date = pd.to_datetime(check_date)
    check_month = str(check_date.month)
    df1 = df[df['date']<=check_date]
    card_spents = df1.groupby("credit_card").apply(monthly_spent_byuser).unstack(fill_value=0)
    card_spents = card_spents.join(cc.credit_card_limit)
    card_spents.columns = card_spents.columns.astype(str)
    
    if check_month in card_spents.columns.tolist():
        card_spents['above_limit'] = card_spents.apply(lambda row: above_limit(row, check_month), axis = 1)
    else:
        card_spents['above_limit'] = 0
    return card_spents

In [119]:
check_date = '2015-09-25'
check_limit(check_date, transactions)

                        7         8         9  credit_card_limit  above_limit
credit_card
1003715054175576   162.56   8441.51   9199.38              20000            0
1013870087888817   281.43  11981.15  10618.03              15000            0
1023820165155391   943.26  22741.20  14708.32              28000            0
1073931538936472   220.07   2991.05   1565.70              10000            0
1077622576192810     0.00    634.61    231.66              10000            0
1087468642191606   241.60   2735.77   1690.45               3000            0
1089479586475600   468.32  16103.93  14915.20              18000            0
1101164752077181   346.31   7326.02   4489.96               9000            0
1106824181265726    90.87   6734.92   6593.80               6000            1
1107936587129946   829.32  15534.48  13823.80              24000            0
1126571863414211  1036.33   5937.14   5233.96               8000            0
1128536627506856   767.21  14191.90  10723.88              16000            0
1134742235676586    37.04   2357.66   1585.20               4000            0
1137926374621536   277.85   7777.90   4315.82               9000            0
1144894232607400   927.24  26296.73  24428.68              35000            0
1155726765596507    11.08    574.20   1137.77               7000            0
1156998467006869  1437.77  16111.99  12848.26              20000            0
1165413984579076   222.64   7873.06   5450.53               8000            0
1167475218806361  1045.35   8983.41   4853.37              14000            0
1169271395749970   442.66  11039.70  10711.36              20000            0
1175962294549313   591.18  15809.71  10478.15              14000            0
1190980117697422  1105.15   6357.72   6308.39               7000            0
1191702776174515   964.37  26202.70  19425.06              35000            0
1210872963953886   302.51   4263.21   4970.57               7000            0
1221421251374063    79.78  10617.63   7245.46              20000            0
1222730774437945    41.68    532.98    158.88               8000            0
1224132812823172   259.20  11467.85  13971.14              20000            0
1228288249952859  1460.61  14719.33   8783.31              15000            0
1246716439259317   984.45  28910.71  22692.52              27000            0
1250832548098023     0.00    331.18    406.03               3000            0
...                   ...       ...       ...                ...          ...
9697976691448340    79.94   6250.66   3003.29              12000            0
9698400826549648     0.00   2206.56   2135.50               5000            0
9711468735134956   699.23  29241.07  24481.02              32000            0
9722420012449776   263.79   2791.66   3718.39               6000            0
9727202337611852   641.02  20207.03  15442.77              20000            0
9737219864179988   283.62  16156.60  12428.67              16000            0
9750493074217554  1431.81  11254.76   9495.32              15000            0
9755306333757844   241.25   5678.25   5743.87              10000            0
9757152469896436   586.69  23981.14  17593.87              24000            0
9758203643408520   244.32   4810.83   4087.77              12000            0
9784236961027780    75.05   3663.53   3665.23               7000            0
9791737612737164   179.04   6256.77   3566.55               8000            0
9802875887295518     0.00   3407.71   1668.37              10000            0
9804141847583936   301.04   8268.11  10225.43              16000            0
9816797152028230    83.89   6029.32   2910.53               8000            0
9818730572429186    40.98   5911.30   2548.96               6000            0
9836548369808504   234.84   9099.81   9016.13              20000            0
9837774113787236   649.08  19687.73  13411.70              20000            0
9851955447362962   101.09   5114.34   2261.70               8000            0
9854872265114976  1142.88  18956.05  12778.22              20000            0
9855217884613002   437.90   8206.00   5470.67              14000            0
9867492085978660   930.26   1163.26   2215.77               3000            0
9884182241594028     0.00   5819.60   5153.17               8000            0
9938969980242308   556.24  16538.66  11205.42              20000            0
9946917923319410   473.75  13023.85   7843.52              15000            0
9958678964376192    59.22   5960.35   5017.99              10000            0
9961694231875562   484.06   4385.64   3103.87              10000            0
9981251982982618   338.12  13848.80   9299.86              18000            0
9986135779184360   293.42  10958.65   8267.48              14000            0
9999757432802760    77.59   4408.83   5596.99               6000            0

[980 rows x 5 columns]

Finally, your boss is very concerned about frauds cause they are a huge cost for credit card companies. She wants you to implement an unsupervised algorithm that returns all transactions that seem unusual and are worth being investigated further.

* People who use the money more than 2 times as their pervious month
* one transaction is larger than 90% percentile of all the transcations
* People who use the money far from their zipcode